<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="re.yuugu.hzx.infrastructure.persistent.dao.IGachaActivityOrderDao">

    <resultMap id="dataMap" type="re.yuugu.hzx.infrastructure.persistent.po.GachaActivityOrder">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="sku" property="sku"/>
        <result column="sku_price" property="skuPrice"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="order_id" property="orderId"/>
        <result column="order_time" property="orderTime"/>
        <result column="total_count" property="totalCount"/>
        <result column="month_count" property="monthCount"/>
        <result column="day_count" property="dayCount"/>
        <result column="state" property="state"/>
        <result column="out_business_no" property="outBusinessNo"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="re.yuugu.hzx.infrastructure.persistent.po.GachaActivityOrder">
        insert into gacha_activity_order
        (user_id, sku, sku_price, activity_id, activity_name, strategy_id, order_id, order_time, total_count,
         month_count, day_count, state, out_business_no, create_time, update_time)
        values (#{userId}, #{sku}, #{skuPrice}, #{activityId}, #{activityName}, #{strategyId}, #{orderId}, #{orderTime},
                #{totalCount}, #{monthCount}, #{dayCount}, #{state}, #{outBusinessNo},
                now(), now())
    </insert>
    <update id="updateOrderStateToCompleted">
        update gacha_activity_order
        set state='completed',
            update_time=now()
        where out_business_no = #{outBusinessNo}
          and user_id = #{userId}
          and state = 'wait_to_pay'
    </update>
</mapper>
