<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="re.yuugu.hzx.infrastructure.persistent.dao.IGachaActivityAccountMonthDao">

    <resultMap id="dataMap" type="re.yuugu.hzx.infrastructure.persistent.po.GachaActivityAccountMonth">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="activity_id" property="activityId"/>
        <result column="month" property="month"/>
        <result column="month_count" property="monthCount"/>
        <result column="month_count_surplus" property="monthCountSurplus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <insert id="insert" parameterType="re.yuugu.hzx.infrastructure.persistent.po.GachaActivityAccountMonth">
        insert into gacha_activity_account_month
        (user_id,activity_id,month,month_count,month_count_surplus,create_time,update_time)
        values (#{userId}, #{activityId},#{month}, #{monthCount}, #{monthCountSurplus}, now(), now())
    </insert>
    <update id="updateAccountMonthQuota" parameterType="re.yuugu.hzx.infrastructure.persistent.po.GachaActivityAccountMonth">
        update gacha_activity_account_month
        set month_count_surplus = month_count_surplus -1,
            update_time = now()
        where activity_id=#{activityId} and user_id=#{userId} and month=#{month} and month_count_surplus>0
    </update>
    <select id="queryActivityAccountMonthById" parameterType="re.yuugu.hzx.infrastructure.persistent.po.GachaActivityAccountMonth" resultMap="dataMap">
        select user_id,activity_id,`month`,month_count,month_count_surplus
        from gacha_activity_account_month
        where activity_id=#{activityId} and user_id=#{userId} and `month`=#{month}
    </select>
</mapper>
